  b l i n k e r = = 1 . 9 . 0   c l i c k = = 8 . 1 . 8   c o l o r a m a = = 0 . 4 . 6   F l a s k = = 3 . 1 . 0   F l a s k - M a i l = = 0 . 1 0 . 0   i t s d a n g e r o u s = = 2 . 2 . 0   J i n j a 2 = = 3 . 1 . 5   M a r k u p S a f e = = 3 . 0 . 2   W e r k z e u g = = 3 . 1 . 3  